html, body{
    height: 100%;
    background: rgb(244, 246, 248);
}

section{
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}
.padd-right{
    padding-right: 0 !important;
}
.padd-left{
    padding-left: 0 !important;
}
.pad-right{
    padding-right: 15px !important;
}
/* ================================================
                    home
==================================================*/
#afterHome,
#home{
    background: #fff;
}
#afterHome{
    border-bottom:1px solid rgb(244, 246, 248);
}
/* mail and number */
.afterNav{
    padding:25px 0;
}
.mailNum a,
.mailNum span{
    font-size: .75rem;
    color: rgb(52, 64, 75);
    text-decoration: none;
}
.mailNum a:hover{
    color: rgb(255, 89, 18);
}
.mailNum img{
    margin-right: 3.925%;
}
.mailNum a{
    margin-right: 9%;
}

/* social list */
.socialIcon ul{
    display: inline-block;
    padding-left: 0;
    margin:0;
}
.socialIcon ul li{
    display: inline-block;
    margin-left: 10px;
    background-color: #fff;
    width: 26px;
    text-align: center;
    height: 26px;
    border-radius: 50%;
}
.facebook:hover{
    background-color:rgba(26, 94, 153, .5);
}
.twitter:hover{
    background-color: rgba(0, 172, 237, .5);
}
.google:hover{
    background-color:rgba(211, 72, 54, .5);
}
.instagram:hover{
    background-color:rgba(184, 0, 180, .5);
}
.socialIcon ul li a{
    color: rgb(52, 64, 75);
    text-decoration: none;
    font-size: .75rem;
}

/* homeNav */
.homeNav{
    padding:45px 0;
}
.homeNav ul{
    display: inline-block;
    padding-left: 0;
    margin:0;
}
.homeNav ul li{
    display:inline-block;
    margin-right: 45px;
}
.homeNav ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: #34404b;
}
.homeNav ul li a:hover{
    color: rgb(255, 89, 18);
}
.homeNav a img{
    width: 120px;
    height: 40px;
}
.shopyIcon i{
    margin-left: 28px;
    color: #34404b;
    font-size: 1rem;
}
.search-container{
    display: inline-block;
}
#fund{
    font-style: italic;
    border:1px rgb(255, 89, 18) solid;
    color: rgb(73, 86, 98);
    border-radius: 50px;
    padding-left: 10px;
    outline: none;
}
#icon-search{
    cursor: pointer;
    margin-left: 0;
}
#icon-search:hover{
    color:  rgb(255, 89, 18);
}
/* picture home */
#insidePicture{
    padding:12.1% 0;
}
#pictureHome{
    position: relative;
    width:100%;
    max-height: 100%;
}
#pictureHome img{
    position: absolute;
    width:100%;
    height: 100%;
}
#pictureHome .container{
    position: relative;
}
.slider h1{
    font-size: 3.25rem;
    color: rgb(255, 89, 18);
    font-weight: 900;
    margin-bottom: 4.54%;
}
.slider h6{
    font-size: 1.125rem;
    color: rgb(60, 71, 81);
    margin-bottom: 3.24%;
}
.slider p{
    font-size: 1rem;
    color: rgb(73, 86, 98);
    margin-bottom: 10.528%;
}
.slider h5{
    font-size: 1.125rem;
    color: rgb(52, 64, 75);
}
.slider h5 span{
    font-size: 1.125rem;
    color: rgb(255, 89, 18);
}
/* ================================================
                    arrivals
==================================================*/
#newArrivals{
    padding:6.839% 0;
}
.jacket{
    background-color: #fff;
    padding:11.77% 0;
    position: relative;
}
#newArrivals h2{
    font-size: 2.25rem;
    font-weight: 900;
    color: rgb(255, 89, 18);
    margin-bottom: 3.154%;
}
#newArrivals h2 span{
    color:rgb(52, 64, 75);
}
#newArrivals p{
    font-size: 1rem;
    color: rgb(73, 86, 98);
    font-weight: 500;
    display: block;
}
.bottom{
    margin-bottom: 6.659%;
}
.bottom-2{
    margin-bottom: 7.208%;
}
.jack-img{
    width: 180px;
    height: 231px;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}
}
.jacket p{
    display: block;
    font-size: 1.125rem;
    color: rgb(52, 64, 75);
    font-weight: 500;
    margin-bottom: 12%;
}
.jacket span{
    font-size: 1.125rem;
    color: rgb(255, 89, 18);
}
/* =====================================
                home overlay
====================================== */
.home-overlay{
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left:0;
    opacity: 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.jacket:hover .home-overlay{
    opacity: 1;
}
.home-overlay h4{
    font-size: 1.125rem;
    color: rgb(255, 89, 18);
    font-weight: 900;
    margin-bottom: 25px;
}
.home-overlay p{
    font-size: 14px;
    color: rgb(52, 64, 75);
    font-weight: 400;
    margin-bottom: 25px;
}
.home-overlay hr{
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.colors{
    padding: 0;
    margin-bottom: 0;
    display: block;
    list-style: none;
}
.colors li{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.color-1{
    background-color: rgb(225, 46, 63);
}
.color-2{
    background-color: rgb(52, 64, 75);
}
.color-3{
    background-color: rgb(58, 179, 255);
}
.color-4{
    background-color: rgb(47, 217, 103);
}
.img-hover-size{
    display: block;
    padding: 30px 0;
}
.img-hover-size img{
    width: 60px;
    height: 100px;
    margin-bottom: 0;
}
.icons-overlay{
    display: inline-block;
}
.icons-overlay i{
    margin:0 10px;
    cursor: pointer;
}
.icons-overlay i:hover{
    color:rgb(255, 89, 18);
}
/* =====================================
        home overlay ends
====================================== */
/* =================================== */
.white{
    background-color: #fff;
}
.bullet{
    display: inline-block;
    padding-left: 0;
    margin:0;
    width: 100%;
    padding: 18px 0;
}
.bullet li{
    display: inline-block;
    background-color: rgb(255, 89, 18);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.bullet:hover.bullet li{
    transition: .5s ease;
    margin:0 15px;
}
.bullet li a{
    text-decoration: none;
    background-color: #34404b;
}
/* =================================== 
                full
====================================*/
.price .fa{
    margin-right: 18px;
}
.pad-right{
    padding-right: 15px !important;
}
/* ============================ */
#fullWinter{
    width: 100%;
    height: 100%;
    max-height: 100px;
}
#fullWinter .container,
#fullWinter .container .row,
#fullWinter .container .row .full,
#fullWinter .container .row .price,
#fullWinter .container .row .adv div{
    height: 100%;
}
.full{
    background-color: #fff;
}
.full img{
    margin-right: 7.875%;
    padding: 5.72% 0;
}
.full h3{
    font-size: 1.375rem;
    font-weight: 900;
    color: rgb(52, 64, 75);
    display: inline-block;
    margin-bottom: 18px;
    padding-top: 15px;
}
.full p{
    font-size: 0.75rem;
    color: rgb(73, 86, 98);
    margin:0;
}
.adv{
    padding-left:15px!important; 
}
.adv div{
    background-color: #fff;
}
.price p{
    font-size: 1.187rem;
    color: rgb(255, 89, 18);
    font-weight: 900;
    margin: 0;
    padding: 12% 0;
}
.price p span{
    font-size: 2.375rem;
    color: rgb(255, 89, 18);
    font-weight: 900;
}
.adv h6{
    font-size: 1rem;
    margin-bottom: 3.599%;
    padding-top: 5%;
}
.adv h6 span{
    color: rgb(255, 89, 18);
}
.adv p{
    font-size: 0.75rem;
    color: rgba(52, 64, 75, 0.4);
    letter-spacing: 6px;
}
/* =================================== 
                best sale
====================================*/
#bestSale{
    padding:120px 0;
}
.introBest h4{
    font-size: 2.25rem;
    color: rgb(52, 64, 75);
    font-weight: 900;
    margin-bottom: 20px;
}
.introBest h4 span{
    color: rgb(255, 89, 18);
}
.introBest p{
    font-size: 1rem;
    color: rgb(73, 86, 98);
    margin:0;
    margin-bottom: 85px;
}
/* =======================================
                bets sales
========================================== */
.cardSell{
    background-color: #fff;
    padding:35px 0;
}
.intoCard h5{
    font-size: 1.125rem;
    color: rgb(52, 64, 75);
    font-weight: bold;
    margin-bottom: 30px;
}
.intoCard .stars{
    display: inline-block;
    margin-right: 55px;
}
.intoCard .stars i{
    color: rgb(255, 89, 18);
}
.intoCard span{
    color: rgb(255, 89, 18);
    font-weight: 700;
}
/* =======================================
                new letter
========================================== */
#newLetter{
    padding-bottom: 120px;
}
#newLetter .row{
    height: 120px;
    max-height: 100%;
}
.insideLetter{
    height: 100%;
}
.insideLetter h5{
    font-size: 1.125rem;
    color: rgb(255, 89, 18);
    font-weight: 900;
    margin:0;
    margin-right: 45px;
}
.insideLetter p{
    font-size: .875rem;
    font-style: italic;
    color: rgb(52, 64, 75);
    margin:0; 
}
.insideLetter div{
    padding: 48px 0;
}
.insideLetter .joinp{
    padding: 48px 0;
}
.insideLetter div input{
    font-size: 0.875rem;
    color: rgb(124, 135, 145);
    font-style: italic;
    border:none;
    width: 45%;
    outline: none;
}
.insideLetter img{
    margin-right: 10px;
}
.insideLetter div button{
    background-color:  transparent;
    border: transparent;
    padding: 0;
}
.insideLetter div button a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 17px 20px;
    font-size: 0.875rem;
    background-color: rgb(255, 89, 18);
    border:2px solid transparent;
    margin-right: 36px;
}
.insideLetter div button a:hover{
    background-color:#fff; 
    color: rgb(255, 89, 18);
    border:2px solid rgb(255, 89, 18);
    transition: .3s ease;
}
/* =======================================
                footer
========================================== */
#footer{
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 40px
}
#footer .row{
    height: 140px;
}
#footer .row .col-md-4 div{
    padding: 30px 0;
}
#footer .row .col-md-4 div img{
    margin-bottom: 20px;
}
#footer .col-md-4 p{
    font-size: 0.875rem;
    color: rgb(40, 49, 59);
    display: block;
    font-weight: 700;
    margin: 0;
}
#footer .col-md-2 ul{
    padding-left: 0;
    padding:16px 0;
    margin-bottom: 0;
}
#footer .col-md-2 ul li{
    margin-bottom: 12px;
}
#footer .col-md-2 ul li a{
    font-size: 0.875rem;
    color: rgb(40, 49, 59);
    font-weight: 500;
    text-decoration: none;
} 
#footer .col-md-2 ul li a:hover{
    color: rgb(255, 89, 18);
}
#footer .col-md-2 h5{
    font-size: 1rem;
    color: rgb(255, 89, 18);
    font-weight: 900;
    margin-bottom: 20px;
}
#footer .col-md-2 div{
    padding: 37px 0;
}
/* =======================================
==========================================
                segunda vista 
==========================================
========================================== */
#showProducts{
    background-color: #fff;
    padding: 120px 0;
    border-top:2px solid rgb(244, 246, 248);
}
.size-slider-img{
    width: 55%;
    height: 100%;
    max-height: 340px;
}
.top-up{
    top:25px;
}
.bot-down{
    bottom:10px;
    margin-bottom:0;
}
.custom-carousel{
    height: 100%;
    text-align: center;
}
.custom-carousel-indicators{
    width: 96px !important;
    margin-right: 3px ;
    margin-left: 3px;
}
.carousel-indicators li img{
    position: absolute;
    transform: translateX(-48px);
}
.carousel-indicators li{
    width: 96px;
    height: 69px;
}
.home-overlay-2{
    background-color:rgba(255, 89, 18, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left:0;
    opacity: 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.custom-carousel-indicators:hover .home-overlay-2{
    opacity: 1;
}
.intoShow h2{
    font-size: 3.25rem;
    color: rgb(255, 89, 18);
    font-weight: 900;
    margin-bottom: 25px;
}
.intoShow h6{
    font-size: 1.125rem;
    color: rgb(60, 71, 81);
    font-weight: 500;
    margin-bottom: 40px;
}
.intoShow p{
    font-size: 1rem;
    color: rgb(73, 86, 98);
    display: block;
    margin-bottom: 15px;
}
.intoPart span{
    font-size: 1.125rem;
    color: rgb(52, 64, 75);
    font-weight: 500;
}
.intoPart P {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 700;
    color: rgb(52, 64, 75);
}
.intoPart2 h5{
    font-size: 1.25rem;
    color: rgb(52, 64, 75);
    display: block;
    font-weight: 700;
}
.intoPart2 p{
    font-size: 1.125rem;
    color: rgb(52, 64, 75);
    font-weight: 700;
    margin-bottom: 80px;
}
.intoPart2 div{
    display: inline-block;
}
.intoPart2 div i{
    margin-right: 17px;
}
.intoPart2 button a{
    text-decoration: none;
    color: #fff;
    padding: 12.5px 25px;
    background-color:  rgb(255, 89, 18);
    border-radius: 50px;
    border:solid 2px transparent;
}
.intoPart2 button a:hover{
    color:rgb(255, 89, 18);
    border:solid 2px rgb(255, 89, 18);
    background-color: #fff;
    transition:.3s ease;
}
.intoPart2 button{
    font-size: 1.125rem;
    font-weight: 500;
    padding: 0;
    border: transparent;
    outline: none;
    background: transparent;
}
.intoPart1{
    padding-bottom: 45px;
    border-bottom: 2px solid rgb(244, 246, 248); 
}
.choss p{
    font-size: 18px;
    font-weight: 500;
}
.choss span{
    color: rgb(255, 89, 18);
}
.middle-row{
    padding-top:40px;
    padding-bottom:40px; 
    border-bottom: 2px solid rgb(244, 246, 248); 
}
.final-row{
    padding-top: 60px;
}
/* =======================================
==========================================
                tercera  vista 
                filter cards
==========================================
========================================== */
.padd-bot{
    padding-bottom: 30px;
}
.filterCard{
    background-color: #fff;
    margin-bottom: 30px;
}
.categories li h4{
    font-size: 1.125rem;
    color: rgb(255, 89, 18);
    font-weight: 900;
    cursor: default;
}
.categories{
    padding:0;
    list-style: none;
    margin-bottom:0;
    padding:40px 35px;
}
.categories li {
    font-size: 1rem;
    color: rgb(52, 64, 75);
    font-weight: 700;
    margin-bottom:24px;
    cursor: pointer;
}
.categories li:last-child{
    margin-bottom: 0;
}
.priceFilter{
    padding: 40px 35px;
}
.priceFilter h4{
    display: block;
    font-size: 1.125rem;
    color: rgb(255, 89, 18);
    font-weight: 900;
    margin-bottom: 35px;
}
.priceFilter .textDiv{
    display:inline-block;
    width: 48%;
}
.rangeDiv{
    margin-bottom: 30px;
}
.priceFilter .textDiv input{
    width: 45%;
    background-color: rgb(237, 240, 242);
    border:none;
}
.priceFilter .textDiv span{
    margin-right: 10px;
    font-size: 14px;
    color: rgb(52, 64, 75);
    font-weight: 700;
}
.sizes-brand{
    background-color: #fff;
    padding:40px 35px;
    margin-bottom: 30px;
}
.sizes-brand ul{
    padding: 0;
    list-style: none;
    margin:0;
}
.sizes-brand h4{
    display: block;
    font-size: 1.125rem;
    color: rgb(255, 89, 18);
    font-weight: 900;
    margin-bottom: 35px;
}
.sizes-brand ul li{
    font-size: 1rem;
    color: rgb(52, 64, 75);
    font-weight: 700;
    margin-bottom:30px;
}
.sizes ul li:last-child{
    margin-bottom: 0px;
}
.sizes-brand ul li input{
    margin-right:15px;
}
/* =======================================
                work with js
========================================== */
.owl-carousel .owl-item img {
     display: initial;
}
#deployMore{
    cursor: pointer;
}
.desapear{
    display:none;
}
